################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BigInt/.vs/BigIntRun/v16
/.vs/BigIntProject/v16/ipch/AutoPCH/d783cfb989ecb065
/.vs/BigIntProject/v16
/.vs
/BigInt/BigIntRun.sln
/BigInt/BigIntRun.vcxproj
/BigInt/BigIntRun.vcxproj.filters
/BigInt/BigIntRun.vcxproj.user
